.tabeladep {
  column-gap: 10px;
  background-color: rgba(0, 0, 0, 0.651);
  border: 1px solid rgba(79, 185, 227, 0.514);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.dep {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px #000000a9;
  filter: blur(px);
  color: white;
  font-size: 100%;
  text-align: center;
  margin: auto;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
