<!-- FOOTER -->
<footer class="text-white bg-blue py-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col-12 col-lg-6 pe-4 pb-4 pb-lg-0">
        <!-- <h2>Quem é Prof André Ronconi?</h2> -->
        <p>
          <img src="${sitePath}/assets/img/prof-andre-footer.png" width="330" alt="Prof. André Ronconi" class="img-fluid " >
        </p>
        <p>Aulas de inglês online com metodologia prática e interativa. <br>
          Desenvolva suas habilidades e ganhe confiança para falar!.</p>
        <!-- <p>
          <a href="${sitePath}/">Saiba mais</a>
        </p> -->
      </div>
      <div class="col-12 col-lg-3 pb-4 pb-lg-0">
        <h2>Links</h2>
        <ul class="list-unstyled">
          <li>
            <a href="${sitePath}/#metodo" class="btn btn-link ps-0">Método</a>
          </li>
          <li>
            <a href="${sitePath}/#planos" class="btn btn-link ps-0">Planos</a>
          </li>
          <li>
            <a href="${sitePath}/#depoimentos" class="btn btn-link ps-0">Depoimentos</a>
          </li>
          <li>
            <a href="${whatsapp}&text=Acessei%20seu%20site%20e%20tive%20algumas%20d%C3%BAvidas%2C%20quero%20mais%20informa%C3%A7%C3%B5es!" class="btn btn-link ps-0" target="_blank">Contato</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-3 pb-4 pb-lg-0">
        <h2>Serviços</h2>
        <ul class="list-unstyled">
          <li>
            <a href="https://student.flexge.com/login" target="_blank" class="btn btn-link ps-0">Acesso a plataforma</a>
          </li>
          <li>
            <a href="${sitePath}/cursos/" class="btn btn-link ps-0">Cursos</a>
          </li>
          <li>
            <a href="${sitePath}/cursos/" class="btn btn-link ps-0">Conteúdo gratuito</a>
          </li>
        </ul>
      </div>
      <!-- <div class="col">
        <h2>Fique atento as atualizações</h2>
        <p>Cadastre aqui o seu e-mail e não perca as novidades e atualizações!</p>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Informe seu email">
          <span class="input-group-text">
            <i class="bi bi-send"></i>
          </span>
        </div>
      </div> -->
    </div>
  </div>
</footer>