<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>${ title }</title>

<!-- FAVICON -->
<link rel="icon" type="image/png" href="${sitePath}/favicon-48x48.png" sizes="48x48" />
<link rel="icon" type="image/svg+xml" href="${sitePath}/favicon.svg" />
<link rel="shortcut icon" href="${sitePath}/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="${sitePath}/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Prof André Ronconi" />
<link rel="manifest" href="${sitePath}/site.webmanifest" />
<meta property="og:image" content="${sitePath}/banner.png" />

<!-- <link rel="icon" type="image/png" href="${sitePath}/assets/img/logo.png" /> -->

<!-- BOOTSTRAP ICONS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- BOOTSTRAP CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<style>
body {
  font-family: "Poppins", sans-serif;
  
}
p, ul, blockquote {
  line-height: 1.75rem !important;
}
footer h2 {
  font-size: 1.25rem;
  margin-bottom: 1.25rem;
}
footer a {
  color: white !important;
  font-weight: 400!important;
}
footer a.btn {
  padding-top: .5rem;
  padding-bottom: .15rem!important;
}
footer .h5 {
  font-weight: 600;
}
blockquote {
  font-style: italic;
}
.btn {
  /* font-size: 1rem; */
  padding: .5rem 1.75rem;
  border-radius: 100px;
  font-weight: 600;
}
h1 {
  font-weight: 600;
}
#site-brand a {
  text-decoration: none;
}
.site-navbar {
  max-width: 1320px;
  margin: auto;
}
.bg-light {
  background-color: antiquewhite;
}
.text-lg {
  font-size: 4rem;
}
.btn-outline-light {
  border-width: 2px;
}
.h5 {
  font-weight: 400;
}
.bold {
  font-weight: 600!important;
}
.bg-gradient {
  background: rgb(6,24,48);
  background: linear-gradient(10deg, rgba(6,24,48,1) 0%, rgba(34,79,144,1) 100%) !important;
}
.rotate {
  transform: rotate(180deg);
}
.social-buttons a {
  font-size: 1.25rem;
  opacity: 1;
}
.social-buttons a:hover {
  opacity: .75;
}
.site-menu .btn {
  border: 0!important;
}
.site-menu a::before{
  content: ' ';
  display: block;
  border-bottom: 2px solid white;
  position: relative;
  top: 30px;
}
.site-menu a:hover::before {
  border-bottom: 2px solid black;
}
.modal-body {
  padding: 0!important;
}
.modal {
  padding-left: 2rem!important;
  padding-right: 2rem!important;
}
.modal-content {
  background-color: black;
}
.modal-close:hover,
.modal-close {
  background-color: white;
  line-height: 1;
  height: 48px;
  width: 48px;
  top: -22px;
  position: relative;
}

@media screen and (max-width: 767px) {
  #mobile-menu {
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    flex-direction: column;
    padding-top: 16px;
    z-index: 100;
  }
  #mobile-menu > div {
    margin: 0!important;
    padding: 0!important;
    flex-grow: unset!important;
    text-align: center;
  }
  #mobile-menu .site-menu-container .nav-item {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  #mobile-menu .site-menu-container .nav-item .btn {
    font-size: 1.15rem;
    width: 100%;
  }
  #mobile-menu .site-menu-container .nav-item .btn::before {
    border: 0!important;
  }
  #mobile-menu .social-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  #mobile-menu .social-buttons .btn {
    font-size: 2rem;
  }
}
</style>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TSYZN49912"></script>
<script>
// verifica não está no localhost
if (window.location.hostname !== 'localhost') {
  // Google Analytics
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TSYZN49912');
}
</script>
<!-- End Google tag (gtag.js) -->
 