<nav class="d-flex container py-2 align-items-center my-2 position-relative" style="z-index: 1;">

  <!-- MENU MOBILE -->
  <!-- <div>
    <button class="btn">
      <i class="bi bi-list h1"></i>
    </button>
  </div> -->
  
  <!-- <a> -->
    <!-- BANDEIRAS -->
    <img src="https://profandre.com.br/img/services-1.png" width="70" alt="">
  <!-- </a> -->

  <!-- LOGO -->
  <div class="ps-3">
    <span class="h5">
      <strong>André Ronconi</strong>
    </span>
    <br>
    Prof. de Inglês
  </div>

  <!-- MENU -->
  <div class="flex-grow-1 ps-5 ms-4 d-none d-lg-flex">
    <ul class="nav site-menu justify-content-center">
      <li class="nav-item">
        <a href="/" class="btn">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a href="" class="btn">Sobre</a>
      </li> -->
      <!-- <li class="nav-item">
        <a href="" class="btn">Serviços</a>
      </li> -->
      <li class="nav-item">
        <a href="#metodo" class="btn">Método</a>
      </li>
      <li class="nav-item">
        <a href="#planos" class="btn">Planos</a>
      </li>
      <!-- <li class="nav-item">
        <a href="" class="btn">Alunos</a>
      </li> -->
      <li class="nav-item">
        <a href="/cursos/" class="btn">Cursos</a>
      </li>
      <li class="nav-item">
        <a href="${whatsapp}&text=Acessei%20seu%20site%20e%20tive%20algumas%20d%C3%BAvidas%2C%20quero%20mais%20informa%C3%A7%C3%B5es!" class="btn">Contato</a>
      </li>
    </ul>
  </div>

  <!-- REDES SOCIAIS -->
  <div>
    <ul class="nav social-buttons">
      <li class="nav-item">
        <a href="https://www.facebook.com/ProfAndreRonconi/" target="_blank" class="btn px-3"><i class="bi bi-facebook"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/profandreronconi/" target="_blank" class="btn px-3"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://www.youtube.com/@profandreronconi/videos" target="_blank" class="btn px-3"><i class="bi bi-youtube"></i></a>
      </li>
    </ul>
  </div>

</nav>
