<nav class="d-flex container py-2 align-items-center my-2">

  <a>
    <!-- BANDEIRAS -->
    <img src="https://profandre.com.br/img/services-1.png" width="70" alt="">
  </a>

  <div class="ps-3">
    <span class="h5">
      <strong>André Ronconi</strong>
    </span>
    <br>
    Prof. de Inglês
  </div>

  <div class="flex-grow-1 ps-5 ms-4">
    <ul class="nav">
      <li class="nav-item">
        <a href="" class="btn">Home</a>
      </li>
      <li class="nav-item">
        <a href="" class="btn">Sobre</a>
      </li>
      <li class="nav-item">
        <a href="" class="btn">Cursos</a>
      </li>
      <li class="nav-item">
        <a href="" class="btn">Serviços</a>
      </li>
      <li class="nav-item">
        <a href="" class="btn">Planos</a>
      </li>
      <li class="nav-item">
        <a href="" class="btn">Alunos</a>
      </li>
      <li class="nav-item">
        <a href="" class="btn">Contato</a>
      </li>
    </ul>
  </div>

  <div>
    <ul class="nav">
      <li class="nav-item">
        <a href="https://www.facebook.com/ProfAndreRonconi/" target="_blank" class="btn"><i class="bi bi-facebook"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://www.instagram.com/profandreronconi/" target="_blank" class="btn"><i class="bi bi-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a href="https://www.youtube.com/@profandreronconi/videos" target="_blank" class="btn"><i class="bi bi-youtube"></i></a>
      </li>
    </ul>
  </div>



</nav>
